[data-theme="light"] {
  --color-primary: theme("colors.orange.300");
  --color-secondary: theme("colors.stone.600");
  --color-text: theme("colors.stone.900");
  --color-text-offset: theme("colors.stone.600");
  --color-background: theme("colors.stone.50");
  --color-background-offset: theme("colors.stone.100");
  --color-border: theme("colors.stone.900" / 10%);
}

[data-theme="dark"] {
  --color-primary: theme("colors.orange.300");
  --color-secondary: theme("colors.stone.400");
  --color-text: theme("colors.stone.50");
  --color-text-offset: theme("colors.stone.400");
  --color-background: theme("colors.stone.900");
  --color-background-offset: theme("colors.stone.800");
  --color-border: theme("colors.stone.50" / 10%);
}
