:root {
  --synth-base: var(--color-background);
  --synth-stroke: var(--color-background-offset);
  --synth-keyletter: var(--color-background-offset);
  --synth-whitekey-pressed: white;
  --synth-whitekey: var(--color-text);
  --synth-blackkey: var(--color-background-offset);
  --synth-blackkey-pressed: theme("colors.stone.800");
  --synth-lcd-bg: var(--color-background);
  --synth-lcd-medium: red;
  --synth-lcd-dark: white;
  box-sizing: border-box;
}

[data-theme="light"] {
  --color-primary: theme("colors.green.300");
  --color-secondary: theme("colors.stone.600");
  --color-text: theme("colors.stone.900");
  --color-text-offset: theme("colors.stone.600");
  --color-background: theme("colors.stone.50");
  --color-background-offset: theme("colors.stone.900");
  --color-border: theme("colors.stone.900" / 10%);
}

[data-theme="dark"] {
  --color-primary: theme("colors.green.300");
  --color-secondary: theme("colors.stone.400");
  --color-text: theme("colors.stone.300");
  --color-text-offset: theme("colors.stone.400");
  --color-background: theme("colors.stone.950");
  --color-background-offset: theme("colors.stone.900");
  --color-border: theme("colors.stone.50" / 10%);
  --color-synth-keyletter: theme("colors.stone.950")
}