---
import { Icon } from "astro-icon/components";
---

<div class="h-full px-2 pt-8">
  <section
    class="rounded-[2rem] bg-default p-8 opacity-85 md:mr-auto md:h-full md:p-10"
  >
    <div class="opacity-none">
      <h2 class="mb-2 text-center font-extrabold text-offset text-xl lg:mb-4">
        пишите, звоните!
      </h2>
      <a
        class="group flex w-fit items-center gap-2 text-balance align-middle text-default text-lg lg:mb-6"
        href="https://t.me/povsemmestam?direct"
        ><Icon
          name="mdi:telegram"
          class="group-hover:text-primary"
        />povsemmestam</a
      >
      <div
        class="flex w-fit items-center gap-2 text-balance align-middle text-default text-lg lg:mt-6"
      >
        <span class="group flex items-center gap-2">
          <Icon name="mdi:phone" class="group-hover:text-primary" /><a
            href="tel:+79164992533">+7 916 499 25 33</a
          >
        </span>
        - федя
      </div>
    </div>
  </section>

  <script></script>
</div>
