---
import { Icon } from "astro-icon/components";
---

<div class="pt-8">
  <footer
    class="relative mx-2 rounded-3xl bg-default px-8 py-4 text-offset transition-all md:m-0 md:rounded-none opacity-85"
  >
    <div
      class="container mx-auto flex flex-col items-center justify-between sm:flex-row"
    >
      <div class="mb-2 flex w-full space-x-3 sm:mb-0 sm:w-auto">
        <div class="text-muted text-sm">
          <span class="align-middle">&copy;</span>&nbsp;мосмузсин
        </div>
        <div class="flex-grow sm:hidden"></div>
        <a
          href="https://t.me/povsemmestam"
          target="_blank"
          aria-label="телеграм канал про наши мероприятия"
          rel="noopener noreferrer"
          class="translate-y-1 hover:text-primary"
        >
          <Icon name="mdi:telegram" />
        </a>
        <a
          href="https://instagram.com/via_na_prazdnik"
          target="_blank"
          aria-label="инстаграм нашего ансамбля"
          rel="noopener noreferrer"
          class="translate-y-1 hover:text-primary"
        >
          <Icon name="fa-brands:instagram" />
        </a>
      </div>
      <div class="flex w-full gap-1 sm:w-auto sm:gap-3">
        <a
          href="https://github.com/sukalov/karaoke-info"
          target="_blank"
          rel="noopener noreferrer"
          class="translate-y-1 hover:text-primary"
          aria-label="исходный код этой страницы"
        >
          <Icon name="fa-brands:github" />
        </a>
        <div class="flex-grow sm:hidden"></div>
        <div class="text-sm sm:mb-0">
          by&nbsp;
          <a
            href="https://sukalov.dev"
            aria-label="автор сайта"
            class="underline underline-offset-2 transition-all hover:text-primary"
          >
            sukalov.dev
          </a>
        </div>
        <p class="text-sm">2025</p>
      </div>
    </div>
  </footer>
</div>
