---
import { Icon } from "astro-icon/components";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://t.me/povsemmestam",
    description: "канал в телеграме",
    icon: "mdi:telegram",
  },
  {
    url: "https://instagram.com/via_na_prazdnik",
    description: "инстаграм ансамбля",
    icon: "fa-brands:instagram",
  },
  {
    url: "https://github.com/sukalov/karaoke-info",
    description: "исходный код сайта",
    icon: "fa-brands:github",
  },
];
---

<footer
  class="relative mx-6 flex h-52 items-center justify-center rounded-3xl bg-stone-950 sm:h-36 text-orange-40"
>
  <ul class="relative grid gap-4 grid-cols-3 sm:gap-8">
    {
      links.map((link) => (
        <li>
          <a
            class="text-primary flex size-16 items-center justify-center rounded-full border-2 border-primary hover:border-orange-500 p-4 hover:text-orange-600"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="size-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
