---

---

<section
  class="relative m-2 rounded-[3rem] bg-stone-950 p-2 sm:ml-auto sm:h-[calc(100svh-3rem)] sm:w-[22rem] lg:w-[32rem]"
>
  <div
    class="relative top-0 flex gap-4 h-full w-full place-items-center justify-around p-2 flex-col"
  >
    <h2 class="flex flex-col items-center gap-2 self-auto sm:gap-4">
      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-8xl sm:text-8xl"
      >
        караоке
        <br /> с живой
        <br /> музыкой
      </div>
    </h2>
    <h3
      class="flex flex-col items-center gap-2 sm:gap-4 self-auto"
    >
      <div
        class="p-2 text-center font-extrabold tracking-tighter text-primary text-xl sm:text-2xl"
      >
        от московского <br />музыкального <br />синдиката
      </div>
    </h3>
  </div>
</section>

<style></style>
