---

---

<div class="title pt-2 lg:px-2 lg:pt-4">
  <section
    class="relative mx-2 rounded-[3rem] bg-default p-2 opacity-85 md:mx-auto md:w-full md:max-w-screen-md lg:mx-0 lg:ml-auto lg:h-[calc(100svh-2rem)] lg:w-[35vw] lg:max-w-none xl:w-[35vw]"
  >
    <div
      class="relative top-0 flex h-full w-full flex-col place-items-center justify-around gap-4 p-2 opacity-100"
    >
      <h2
        class="gradient-text flex flex-col items-center gap-2 self-auto text-center font-extrabold tracking-tighter text-8xl sm:gap-4 sm:text-8xl"
      >
        караоке
        <br /> с живой
        <br /> музыкой
      </h2>
      <h3
        class="flex flex-col items-center gap-2 self-auto p-2 text-center font-extrabold tracking-tighter text-offset text-xl sm:gap-4 sm:text-2xl"
      >
        от гастролей <br />по москве
      </h3>
    </div>
  </section>
</div>
<script>
  const isMobile = () => {
    const isSmallScreen = window.innerWidth < 1024;
    const hasCoarsePointer = window.matchMedia("(pointer: coarse)").matches;
    const hasNoHover = window.matchMedia("(hover: none)").matches;
    const isTouchDevice =
      "ontouchstart" in window || navigator.maxTouchPoints > 0;

    return isSmallScreen || (hasCoarsePointer && hasNoHover) || isTouchDevice;
  };

  if (!isMobile()) {
    const block = document.querySelector(".title") as HTMLElement;

    if (block) {
      let raf: number | null = null;
      const speedMultiplier = 2; // Change this to adjust speed
      const initY = 0;
      const waitTime = 256;
      let lastScrollY = window.scrollY;
      console.log({ initY, lastScrollY });
      const updatePosition = () => {
        block.style.transform = `translateY(${window.scrollY}px)`;
        raf = null;
      };
      const updatePosition2 = () => {
        block.style.transform = `translateY(${waitTime - (window.scrollY - waitTime) * 2}px)`;
        raf = null;
      };

      window.addEventListener(
        "scroll",
        () => {
          const currentScrollY = window.scrollY;
          if (Math.abs(currentScrollY - lastScrollY) >= 1) {
            lastScrollY = currentScrollY;
            if (currentScrollY < waitTime && !raf) {
              raf = requestAnimationFrame(updatePosition);
            } else if (currentScrollY < waitTime * 2 && !raf) {
              raf = requestAnimationFrame(updatePosition2);
            }
          }
        },
        { passive: true },
      );
    }
  }
</script>
